<section class="form-container">
  <h4>New Post</h4>
  <form action="/post/" enctype="multipart/form-data" method="post" class="Post-form">
    <input type="text" name="title" placeholder="title">
    <div class="input-field">
      <textarea name="description" cols="30" rows="10" placeholder="Description"></textarea>
    </div>
    <select name="mediatype">
      <option value="photo">Photo</option>
      <option value="video">Video</option>
      <option value="song">Song</option>
      <option value="lyric">Lyric/Poem</option>
    </select>
    <input type="file" name="url">
    </div>
    <div class="input-field">
      <input type="submit" value="Post" class="btn">
    </div>
  </form>
</section>