body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

nav {
  border-top: 3px solid #F48024;
  max-height: 50px;
}

nav .brand-logo {
  text-decoration: none;
  cursor: pointer;
}

.nav-wrapper {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.logo {
  max-width: 30px;
  margin-right: 15px;
}



.card-action {
  text-align: center;
}