body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #212529;
}

a,
a:hover {
  text-decoration: none;
  color: white;
}

.home-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../img/home.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  /* opacity: 0.7; */
  z-index: -3;
  flex-direction: column;
}

.home-container {
  background-color: #16191b;
}

.mt-6 {
  margin-top: 4rem !important;
}

.mt-7 {
  margin-top: 8rem !important;
}

.large {
  font-size: 6rem;
}


.small {
  font-size: 1rem;
}

@media only screen and (max-width: 500px) {
  .large {
    font-size: 3rem;
  }

  .medium {
    font-size: 1.5rem;
  }


  .small {
    font-size: 1rem;
  }
}

.background {
  filter: blur(5px) brightness(49%);
}

.carousel-caption {
  bottom: 30%;
}

.one-post {
  text-align: center;
}

.img {
  width: 40%;
  margin: 0 auto;
}

.carousel-item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 56%,
    rgba(0, 0, 0, 0.6) 100%);
}

.center-btn {
  display: block;
  margin: 0 auto;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}

.btn-file {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.upload-btn-wrapper input[type='file'] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.nav-wrapper {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.logo {
  max-width: 30px;
  margin-right: 15px;
}

h5 {
  display: inline-block;
  padding: 10px;
  background: #b9121b;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-action {
  text-align: center;
}

.flex-container {
  display: flex;
  margin: 0 auto;
}

.shadow {
  text-shadow: 0px 2px 1px rgba(150, 150, 150, 1);
  box-shadow: none !important;
}