<div class="home-container">
  <div class="home-photo">
    <h1 class="text-light large">Stagebright</h1>
    <h2 class="text-light medium">Showcase yourself</h2>
    <a href="/home" class="btn btn-dark btn-lg mt-3">Welcome</a>
  </div>
</div>